<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/found" method="POST">
      <label for="curp">Ingresa tu curp</label>
      <input type="text" name="curp" id="">
      <input type="button" name="Submit" value="Enviar" onclick="submit()">
    </form>
  </body>
</html>
